.App {
  /* border: 10px red solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.heading {
  /* border: 5px teal solid; */
  /* border-radius: 10px; */
  padding: 10px;
  margin: 30px;
  z-index: 1;
  font-size: larger;
  text-decoration: underline teal 5px;
  text-transform: uppercase;
  font-size: 50px;
}

@media (max-width: 800px){
  .heading {
    font-size: 30px;
  }
}

@media (max-width: 500px){
  .heading {
    font-size: 10px;
  }
}